<h1 class="">You are siggned in as <%= @current_user.username %></h1>

<div class="my-5">
    <%= turbo_frame_tag "new_post" do %>
        <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
    <% end %>
</div>

<div class="mt-10">
  <%= link_to 'Trending tags:', tags_path, class: 'btn btn-ghost' %>
  <% @tags.each do |tag| %>
    <%= render tag %>
  <% end %>
</div>

<div id="post_index">
    <% @posts.each do |post| %>
        <%= render post %>
    <% end %>
</div>
