<%= turbo_frame_tag dom_id(post) do %>
  <div class="card bg-neutral shadow-xl my-4">
    <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <p><%= raw parse_content_at_mentions(post.content) %></p>
      <div class="card-actions justify-between">
        <div>
          <% post.tags.each do |tag| %>
            <%= render tag %>
          <% end %>
        </div>
        <span class="text-xs">
          by <%= post.user.username %>
        </span>
      </div>
      <% if current_user == post.user %>
        <%= turbo_frame_tag "edit_#{dom_id(post)}" do %>
          <div class="card-actions justify-end">
            <%= link_to 'Edit', edit_post_path(post), class: 'btn'%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
